@import url('https://sf.abarba.me/font.css');

body, html {
    background-color: #222;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "SF Text";
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

a:hover {
    color: #f3a500;
}

.links-social  a{
  font-weight: 100;
  font-size: 24px;
  margin: 0px 10px;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.padded-content {
    padding: 15vh 30vh;
}

.questions .description {
    font-size: 12px;
}

.questions li {
    margin: 10px 0;
}

.questions .download {
    text-align: center;
    margin-top: 80px;
}

.questions .download a {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .padded-content {
        padding: 5vh 10vh;
    }
}
