@import url('https://sf.abarba.me/font.css');

body, html {
    background-color: #222;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "SF Text";
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    line-height: 31px;
    cursor: none;
}

a {
    text-decoration: none;
    color: #222;
    background: #f3a500;
    padding: 5px 20px;
}

a:hover {
    color: #f3a500;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.padded-content {
    padding: 15vh 30vh;
}


@media (max-width: 600px) {
    .padded-content {
        padding: 5vh 10vh;
    }
}

.page, .page a {
 cursor: none !important;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
.cursor--small {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: #f3a500;
}
.cursor--canvas {
  width: 100vw;
  height: 100vh;
  z-index: 12000;
}
